{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>紹介</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/header.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="{% static 'intern/favicon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    {% include "intern/header.html" %}
    <div class="back">
        <div class="txt">
            <h2><a href="{% url 'game:index' %}">ゲーム紹介サイト</a></h2>
            <p>
                大学1年の春学期にて作成した初めてのWebサイトになります。3人1チームにて作成し、発表したものになります。htmlとcssのみを使用した簡単なWebサイトです。
            </p>

            <h2><a href="{% url 'mymath:height_quiz' %}">算数の問題の自動作成・採点アプリ</a></h2>
            <p>
                大学2年の夏季集中講座(4日間)という短い時間で作成したchatGPTを使用したアプリになります。
                この講義では、社会で問題になっている事柄に対してIT技術を用いて解消するための提案とデモンストレーションを行うというプロジェクトを行いました。
                そこで私たちのチームでは、教員の労働環境が良くない為人手不足が起こってしまっているということを問題点と考えてそれを解消することにし、読書感想文の自動採点機能と算数の問題の自動生成、自動採点機能をチームで開発しました。
                このサイトでは私が実装した算数の問題の自動生成、自動採点機能の部分を公開しております。
                デモンストレーション用のサイトなのでUX, UIは特段考えずに動くように作成しました。問題作成はgpt-4o-miniで行い、解答はgpt-4oで作成します。<br>

            </p>

            <h2><a href="{% url 'weather:index' %}">天気予報アプリ</a></h2>
            <p>
                大学2年の秋学期にて作成しました。OpenWeatherMapの<a href="https://openweathermap.org/api">Weather
                    API</a>を使用し、天気予報アプリを作成しました。
                このアプリは個人作成になり、OpenAI APIを使用し他の天気予報サイトとの差別化を図りました。なお、日本全体の天気予報でのModelはgpt-4o-miniになり、そのほかはgpt-4oになります。
            </p>
            <hr>
            <p style="text-align: center;"><strong>ポートフォリオは以下になります</strong></p>
            <div class="slide-container">
                <iframe loading="lazy"
                    src="https://www.canva.com/design/DAGIco5ln0Y/KzRAy4MpaAH92Yb98QVYqw/view?embed"
                    allowfullscreen="allowfullscreen" allow="fullscreen">
                </iframe>
            </div>
            <div class="right">
                正しく表示されない方は<a href="https://www.canva.com/design/DAGIco5ln0Y/qXVjt25EAYwO2_oc68Bsew/edit?utm_content=DAGIco5ln0Y&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">こちら</a>から
            </div>
            <hr>
            <p>8月17日 変更<br>データベースをAzure Database for PostgreSQLに変更し、READMEを書き加えました。また、6月までの変更点を非公開にしました。</p>
            <p>7月19日 変更<br>OpenAIのモデルをgpt-3.5-turboをgpt-4o-miniに変更しました。また、メンテナンス情報を削除しました。</p>
            <p>7月13日 変更<br>OpenAI APIのトークン数の上限に達してしまった際に別のAPIで無事に動くように変更しました。</p>
            <p>7月9日 変更<br>問い合わせメールを一部変更しました。また、天気のロゴが正しく条件分けが出来ていなかった点を修正しました。</p>
            <p>7月9日 変更<br>メンテナンス情報の追加, cssの崩れの修正, 問い合わせフォームでメールにログインユーザー名を含めるように修正しました。</p>
            <p>7月7日 変更<br>ポートフォリオの配置を左揃えから中央揃えに変更するなど一部変更しました。また、READMEを書き加えました。</p>
            <!--
            <p>6月28日 変更<br>ポートフォリオを追加するなどホーム画面を一部変更しました。</p>
            <p>6月27日 変更<br>生成系AIがOpenAI APIを使用していることが分かるようにロゴを設置。加えて、表記を<strong>Chat GPT</strong>による解説 →
                <strong>生成系AI</strong>による解説といった書き方に変えました。</p>
            <p>6月18日 変更<br>算数の問題のラジオボタンでのpタグの表示を修正しました。</p>
            <p>5月17日 変更<br>基本全てのページにヘッダーを追加しました。また、ログイン画面をきれいにしました。</p>
            <p>5月15日 変更<br>gpt-4-turboをgpt-4oに変更しました。</p>
            -->
        </div>
    </div>
</body>

</html>