{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>関東地方</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'chatGPT/css/weather.css'%}">
  <link rel="stylesheet" href="{% static 'chatGPT/css/Kanto.css'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="{% static 'chatGPT/img/favicon.png' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  {% include "intern/header.html" %}
  <div class="back">
    <div class="txt">
      <header></header>
      <main class="main">
        <section class="test wrapper">
          <div class="test__container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <div class="container">
                <a class="navbar-brand" href="{% url 'chatGPT:index' %}">地域</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar"
                  aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-header">
                    <h3 class="offcanvas-title text-light" id="offcanvasNavbarLabel">地域</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end mb-2 mb-sm-0">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:index' %}">日本</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:Hokkaido' %}">北海道</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:Tohoku' %}">東北</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'chatGPT:Kanto' %}">関東</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:Chubu' %}">中部</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:Kinki' %}">近畿</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:Chugoku' %}">中国</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:Shikoku' %}">四国</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'chatGPT:Kyusyu' %}">九州</a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </nav>

            <div class="container-fluid">
              <div class="row">
                <div class="main col-sm-12 col-md-10 col-lg-8 col-xl-7">
                  <div class="map">
                    <div class="Ibaraki">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>茨城</strong>
                          <div class="logo"><i class="{{ Iba_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Iba_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Iba_weather_info.temperature_min }}</div><br>{{ Iba_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Tochigi">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>栃木</strong>
                          <div class="logo"><i class="{{ Tochi_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Tochi_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Tochi_weather_info.temperature_min }}</div><br>{{ Tochi_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Gunma">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>群馬</strong>
                          <div class="logo"><i class="{{ Gunma_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Gunma_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Gunma_weather_info.temperature_min }}</div><br>{{ Gunma_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Saitama">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>埼玉</strong>
                          <div class="logo"><i class="{{ Saita_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Saita_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Saita_weather_info.temperature_min }}</div><br>{{ Saita_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Tokyo">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>東京</strong>
                          <div class="logo"><i class="{{ Tokyo_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Tokyo_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Tokyo_weather_info.temperature_min }}</div><br>{{ Tokyo_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Kanagawa">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>神奈川</strong>
                          <div class="logo"><i class="{{ Kanag_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Kanag_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Kanag_weather_info.temperature_min }}</div><br>{{ Kanag_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Chiba">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>千葉</strong>
                          <div class="logo"><i class="{{ Chiba_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Chiba_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Chiba_weather_info.temperature_min }}</div><br>{{ Chiba_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="attention">
                      ※openwethermapの無料版APIの使用により、最高気温と最低気温はその時間帯での最低気温と最高気温になっています。その為、差があまりありませんのでご注意ください。詳しくは、openwethermapの<a
                        href='https://openweathermap.org/forecast5#min'>公式サイト</a>をご確認ください。
                      <div class="cite"><a href="https://frame-illust.com/?p=10006">画像の引用元</a></div>
                    </div>
                  </div>
                </div>
                <div class="sidebar col-sm-12 col-md-2 col-lg-4 col-xl-5">
                  <h2>Chat GPTによるワンポイント解説</h2>
                  <h4>東京の天気予報</h4>
                  <p>{{ chat_results }}</p>
                  <hr>
                  <p>ChatGPTの読み込みに時間がかかります。この機能が不要な場合は以下のボタンから元のページに戻ってください。</p>
                  <div class="gpt">  
                    <a href="{% url 'weather:Kanto' %}" class="btn btn-danger">移動</a>
                    {% include "chatGPT/GPT_logo.html" %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <footer></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
  </script>
</body>

</html>