

#menu {
  padding: 0;
}

#menu > li {
  display: inline-block;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  min-width: 100px;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #fff2d5;
  
}

#menu a {
  color: #444444;
  text-decoration: none;
}

#container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 200px;
  margin: 10px 0 10px 0;
}

.sidebar ul {
  margin: 0px;
  padding: 0 10px 0 10px;
}

.sidebar li {
  display: block;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  border-right: solid 4px #ffa41b;
  background-color: #fff2d5;
}

.sidebar a {
  color: #444444;
  text-decoration: none;
}

.content {
  width: 70%;
  margin: 10px 0 10px 0;
  background-color: #ffffff;
}

.content > h2 {
  margin: 20px 10px 10px 10px;
  border-bottom: solid 1px #cccccc;
  color: #444444;
}

.content > h3 {
  margin: 10px 10px 10px 20px;
  border-bottom: solid 1px #cccccc;
}

.content > p {
  margin: 0 10px 10px 20px;
}

.content > ul {
  margin: 0 10px 10px 20px;
}

.side {
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: sticky;
  top: 20px;
}

html {
  scroll-behavior: smooth;
}

.back {
  background-color: #6c757d;
  padding: 0px 20px 0px 20px;
}

.txt {
  background-color: white;
}