/* スタイルのリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ページ全体のスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
}

/* フォームのスタイル */
.for {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
  display: block;
  margin-top: 10px;
}

.ans {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* チャット結果のスタイル */
h2 {
  margin-top: 20px;
  font-size: 24px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#id_sentence {
  height: 400px;
  width: 600px;
  resize: vertical; /* ユーザーがテキストエリアを縦方向にリサイズできるようにする */
}

.back {
  background-color: #6c757d;
  padding: 0px 20px 0px 20px;
}

.txt {
  background-color: white;
  padding: 20px;
}