.map {
  background-image: url(../img/Kyusyu.png);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 600px;
  background-color: rgb(93, 93, 209);
  border: 3px solid;
}

.Ooita {
  background-color: #d1cfcf;
  width: 73px;
  height: 96px;
  position: relative;
  top: 80px;
  left: 500px;
}

.Miyazaki {
  background-color: #d1cfcf;
  width: 73px;
  height: 96px;
  position: relative;
  top: 320px;
  left: 500px;
}

.Hukuoka {
  background-color: #d1cfcf;
  width: 73px;
  height: 96px;
  position: relative;
  top: -190px;
  left: 400px;
}

.Kumamoto {
  background-color: #d1cfcf;
  width: 73px;
  height: 96px;
  position: relative;
  top: 10px;
  left: 100px;
}

.Kagoshima {
  background-color: #d1cfcf;
  width: 73px;
  height: 96px;
  position: relative;
  top: 80px;
  left: 70px;
}

.Saga {
  background-color: #d1cfcf;
  width: 73px;
  height: 96px;
  position: relative;
  top: -475px;
  left: 120px;
}

.Nagasaki {
  background-color: #d1cfcf;
  width: 73px;
  height: 96px;
  position: relative;
  top: -420px;
  left: 0px;
}

@media (max-width: 576px) {
  .map {
    background-image: url(../img/Kyusyu.png);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-color: rgb(93, 93, 209);
    border: 3px solid;
    background-size: 400px;
  }
  .Ooita {
    background-color: #d1cfcf;
    width: 40px;
    height: 55px;
    position: relative;
    top: 90px;
    left: 390px;
  }
  
  .Miyazaki {
    background-color: #d1cfcf;
    width: 40px;
    height: 55px;
    position: relative;
    top: 220px;
    left: 330px;
  }
  
  .Hukuoka {
    background-color: #d1cfcf;
    width: 40px;
    height: 55px;
    position: relative;
    top: -110px;
    left: 265px;
  }
  
  .Kumamoto {
    background-color: #d1cfcf;
    width: 40px;
    height: 55px;
    position: relative;
    top: 30px;
    left: 120px;
  }
  
  .Kagoshima {
    background-color: #d1cfcf;
    width: 40px;
    height: 55px;
    position: relative;
    top: 80px;
    left: 70px;
  }
  
  .Saga {
    background-color: #d1cfcf;
    width: 40px;
    height: 55px;
    position: relative;
    top: -270px;
    left: 90px;
  }
  
  .Nagasaki {
    background-color: #d1cfcf;
    width: 40px;
    height: 55px;
    position: relative;
    top: -200px;
    left: 30px;
  }
}
/*
.Ooita:hover {
  background-color: #b6b6b6;
}

.Miyazaki:hover {
  background-color: #b6b6b6;
}

.Hukuoka:hover {
  background-color: #b6b6b6;
}

.Kumamoto:hover {
  background-color: #b6b6b6;
}

.Kagoshima:hover {
  background-color: #b6b6b6;
}

.Saga:hover {
  background-color: #b6b6b6;
}

.Nagasaki:hover {
  background-color: #b6b6b6;
}
*/