{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>北海道地方</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'weather/css/weather.css'%}">
    <link rel="stylesheet" href="{% static 'weather/css/Hokkaido.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="{% static 'chatGPT/img/favicon.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    {% include "intern/header.html" %}
    <div class="back">
        <div class="txt">
            <header></header>
            <main class="main">
                <section class="test wrapper">
                    <div class="test__container">
                        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                            <div class="container">
                                <a class="navbar-brand" href="{% url 'weather:index' %}">地域</a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar"
                                    aria-labelledby="offcanvasNavbarLabel">
                                    <div class="offcanvas-header">
                                        <h3 class="offcanvas-title text-light" id="offcanvasNavbarLabel">地域</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <ul class="navbar-nav justify-content-end mb-2 mb-sm-0">
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:index' %}">日本</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                    href="{% url 'weather:Hokkaido' %}">北海道</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:Tohoku' %}">東北</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:Kanto' %}">関東</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:Chubu' %}">中部</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:Kinki' %}">近畿</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:Chugoku' %}">中国</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:Shikoku' %}">四国</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'weather:Kyusyu' %}">九州</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="main col-sm-12 col-md-10 col-lg-8 col-xl-7">
                                    <div class="map">
                                        <div class="Sapporo">
                                            <div class="Weather_Form">
                                                <div class='center'>
                                                    <strong>札幌</strong>
                                                    <div class="logo"><i
                                                            class="{{ Sap_weather_info.weather_icon }}"></i></div>
                                                    <div class='red'>{{ Sap_weather_info.temperature_max }}</div>/<div
                                                        class="blue">
                                                        {{ Sap_weather_info.temperature_min }}</div>
                                                    <br>{{ Sap_weather_info.humidity }}%
                                                </div>
                                            </div>
                                        </div>

                                        <div class="Hakodate">
                                            <div class="Weather_Form">
                                                <div class='center'>
                                                    <strong>函館</strong>
                                                    <div class="logo"><i
                                                            class="{{ Hako_weather_info.weather_icon }}"></i></div>
                                                    <div class='red'>{{ Hako_weather_info.temperature_max }}</div>/<div
                                                        class="blue">
                                                        {{ Hako_weather_info.temperature_min }}</div>
                                                    <br>{{ Hako_weather_info.humidity }}%
                                                </div>
                                            </div>
                                        </div>

                                        <div class="Kushiro">
                                            <div class="Weather_Form">
                                                <div class='center'>
                                                    <strong>釧路</strong>
                                                    <div class="logo"><i
                                                            class="{{ Kushi_weather_info.weather_icon }}"></i>
                                                    </div>
                                                    <div class='red'>{{ Kushi_weather_info.temperature_max }}</div>/<div
                                                        class="blue">
                                                        {{ Kushi_weather_info.temperature_min }}</div>
                                                    <br>{{ Kushi_weather_info.humidity }}%
                                                </div>
                                            </div>
                                        </div>

                                        <div class="Asahikawa">
                                            <div class="Weather_Form">
                                                <div class='center'>
                                                    <strong>旭川</strong>
                                                    <div class="logo"><i
                                                            class="{{ Asahi_weather_info.weather_icon }}"></i>
                                                    </div>
                                                    <div class='red'>{{ Asahi_weather_info.temperature_max }}</div>/<div
                                                        class="blue">
                                                        {{ Asahi_weather_info.temperature_min }}</div>
                                                    <br>{{ Asahi_weather_info.humidity }}%
                                                </div>
                                            </div>
                                        </div>

                                        <div class="Wakkanai">
                                            <div class="Weather_Form">
                                                <div class='center'>
                                                    <strong>稚内</strong>
                                                    <div class="logo"><i
                                                            class="{{ Wakka_weather_info.weather_icon }}"></i>
                                                    </div>
                                                    <div class='red'>{{ Wakka_weather_info.temperature_max }}</div>/<div
                                                        class="blue">
                                                        {{ Wakka_weather_info.temperature_min }}</div>
                                                    <br>{{ Wakka_weather_info.humidity }}%
                                                </div>
                                            </div>
                                        </div>

                                        <div class="Abashiri">
                                            <div class="Weather_Form">
                                                <div class='center'>
                                                    <strong>網走</strong>
                                                    <div class="logo"><i
                                                            class="{{ Abashi_weather_info.weather_icon }}"></i>
                                                    </div>
                                                    <div class='red'>{{ Abashi_weather_info.temperature_max }}</div>/
                                                    <div class="blue">
                                                        {{ Abashi_weather_info.temperature_min }}</div>
                                                    <br>{{ Abashi_weather_info.humidity }}%
                                                </div>
                                            </div>
                                        </div>
                                        <div class="attention">
                                            ※openwethermapの無料版APIの使用により、最高気温と最低気温はその時間帯での最低気温と最高気温になっています。その為、差があまりありませんのでご注意ください。詳しくは、openwethermapの<a
                                                href='https://openweathermap.org/forecast5#min'>公式サイト</a>をご確認ください。
                                            <div class="cite"><a href="https://frame-illust.com/?p=10006">画像の引用元</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar col-sm-12 col-md-2 col-lg-4 col-xl-5">
                                    <h2>生成系AIによるワンポイント解説</h2>
                                    <h4>札幌の天気予報</h4>
                                    <div class="login">
                                        <p>この機能を使用する為には以下のボタンを押してください。</p>
                                    </div>
                                    <p>生成系AIの読み込みには時間がかかります。</p>
                                    <a href="{% url 'chatGPT:Hokkaido' %}" class="btn btn-danger">移動</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>

</body>

</html>