{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>九州地方</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'weather/css/weather.css'%}">
  <link rel="stylesheet" href="{% static 'weather/css/Kyusyu.css'%}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="{% static 'chatGPT/img/favicon.png' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  {% include "intern/header.html" %}
  <div class="back">
    <div class="txt">
      <header></header>
      <main class="main">
        <section class="test wrapper">
          <div class="test__container">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <div class="container">
                <a class="navbar-brand" href="{% url 'weather:index' %}">地域</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar"
                  aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-header">
                    <h3 class="offcanvas-title text-light" id="offcanvasNavbarLabel">地域</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end mb-2 mb-sm-0">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:index' %}">日本</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:Hokkaido' %}">北海道</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:Tohoku' %}">東北</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:Kanto' %}">関東</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:Chubu' %}">中部</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:Kinki' %}">近畿</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:Chugoku' %}">中国</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'weather:Shikoku' %}">四国</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'weather:Kyusyu' %}">九州</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>

            <div class="container-fluid">
              <div class="row">
                <div class="main col-sm-12 col-md-10 col-lg-8 col-xl-7">
                  <div class="map">
                    <div class="Ooita">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>大分</strong>
                          <div class="logo"><i class="{{ Ooi_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Ooi_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Ooi_weather_info.temperature_min }}</div><br>{{ Ooi_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Miyazaki">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>宮崎</strong>
                          <div class="logo"><i class="{{ Miyaz_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Miyaz_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Miyaz_weather_info.temperature_min }}</div><br>{{ Miyaz_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Hukuoka">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>福岡</strong>
                          <div class="logo"><i class="{{ Hukuo_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Hukuo_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Hukuo_weather_info.temperature_min }}</div><br>{{ Hukuo_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Kumamoto">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>熊本</strong>
                          <div class="logo"><i class="{{ Kuma_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Kuma_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Kuma_weather_info.temperature_min }}</div><br>{{ Kuma_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Kagoshima">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>鹿児島</strong>
                          <div class="logo"><i class="{{ Kagoshi_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Kagoshi_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Kagoshi_weather_info.temperature_min }}</div><br>{{ Kagoshi_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Saga">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>佐賀</strong>
                          <div class="logo"><i class="{{ Saga_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Saga_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Saga_weather_info.temperature_min }}</div><br>{{ Saga_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="Nagasaki">
                      <div class="Weather_Form">
                        <div class='center'>
                          <strong>長崎</strong>
                          <div class="logo"><i class="{{ Nagasa_weather_info.weather_icon }}"></i></div>
                          <div class='red'>{{ Nagasa_weather_info.temperature_max }}</div>/<div class="blue">
                            {{ Nagasa_weather_info.temperature_min }}</div><br>{{ Nagasa_weather_info.humidity }}%
                        </div>
                      </div>
                    </div>
                    <div class="clear">
                      <div class="Weather_Form">
                      </div>
                    </div>
                    <div class="attention">
                      ※openwethermapの無料版APIの使用により、最高気温と最低気温はその時間帯での最低気温と最高気温になっています。その為、差があまりありませんのでご注意ください。詳しくは、openwethermapの<a
                        href='https://openweathermap.org/forecast5#min'>公式サイト</a>をご確認ください。
                      <div class="cite"><a href="https://frame-illust.com/?p=10006">画像の引用元</a></div>
                    </div>
                  </div>
                </div>
                <div class="sidebar col-sm-12 col-md-2 col-lg-4 col-xl-5">
                  <h2>Chat GPTによるワンポイント解説</h2>
                  <h4>宮崎の天気予報</h4>
                  <div class="login">
                    <p>この機能を使用する為には以下のボタンを押してください。</p>
                  </div>
                  <p>ChatGPTの読み込みには時間がかかります。</p>
                  <a href="{% url 'chatGPT:Kyusyu' %}" class="btn btn-danger">移動</a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <footer></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
  </script>

</body>

</html>